{
  "passPerPreset": true,
  "presets": ["env", "es2015", "stage-0", "react"],
  "env": {
    "test": {
      "presets": ["jest"],
      "plugins": ["transform-es2015-modules-commonjs", "transform-class-properties"]
    },
    "dev": {
      "presets": ["react-hmre"],
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
